@page
@model AwsAspCore.Pages.CognitoModel

<br />
<br />

@Model.Message

<br />
<br />

@if (Model.SignedIn)
{
    <text>
    Welcome @Model.CUser.Username
    </text>
    <br />
    <br />
    <form method="post">
        <input type="submit" value="Logout" asp-page-handler="Logout" />
    </form>
}
else
{
    <form method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <label for="rememberMe">rememberMe</label>
        <input type="checkbox" id="rememberMe" name="rememberMe" />
        <input type="submit" value="Login" asp-page-handler="Login" />
    </form>

    <br />

    <a href="https://auth.awsaspcore.codari.co/signup?response_type=token&client_id=1l0770l149iano9rs8hu1lqh5c&redirect_uri=https://awsaspcore.codari.co/Cognito">Sign Up</a>
}
