@page
@model AwsAspCore.Pages.Images.IndexModel

<h2>Index</h2>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="./Upload">Upload</a>
        @if (Model.Images.Count > 0)
        {
            <form method="post" asp-page-handler="DeleteAll">
                <input type="submit" value="Delete All" />
            </form>
        }
    }
</div>

<div>
    @foreach (var url in Model.Images)
    {
        <img src="@url" />
    }
</div>

