@page
@model AwsAspCore.Pages.Images.IndexModel

<h2>Index</h2>

<div>
    <a asp-page="./Upload">Upload</a>
    <form method="post" asp-page-handler="DeleteAll">
        <input type="submit" value="Delete All" />
    </form>
</div>

<div>
    @foreach (var url in Model.Images)
    {
        <img src="@url" />
    }
</div>

